{%- comment -%}
This file has been modified by the Yoast SEO for Shopify app.
You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}
{%- liquid
	assign disabled_by_yoast_seo = true
	if content_for_header contains 'yoast-active-script'
		assign disabled_by_yoast_seo = false
	endif
-%}
{% capture sb_include_manual_seo_log_ids_custom %}{% render "Secomapp-manual-seo-log-ids-custom" %}{% endcapture %}{% unless sb_include_manual_seo_log_ids_custom contains "Liquid error" %}{% capture "sb_res_check_custom_ids" %}{% render "Secomapp-manual-seo-log-ids-custom" %}{% endcapture %}{% endunless %}
{% assign sb_res_check_custom_ids = sb_res_check_custom_ids | strip_html | strip | strip_newlines | lstrip  %}
{% if sb_res_check_custom_ids == 1 %} {% assign sb_res_check_custom_ids = true  %} {% else %} {% assign sb_res_check_custom_ids = false  %} {% endif %}
{%- if template contains "404" -%}

{%- elsif template contains "index" -%}

{% capture secomapp_index %}Stay With Me | Boutique de vêtement et accessoire en ligne{% endcapture %}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{{ secomapp_index | strip_html | strip | strip_newlines | replace: '"', "'" }}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}

{%- elsif template contains "product" -%}

{% capture secomapp_product %}
{%-if sb_res_check_custom_ids -%}
                {{ product.metafields.seo_booster.sb_title }}
                {%-else-%}
                    {%comment%}bulk_edit_seo_product_title{%endcomment%}{{ page_title | strip}}{%comment%}end:bulk_edit_seo_product_title{%endcomment%}
                {%- endif -%}
{% endcapture %}
{% case secomapp_product %}
  {% when ' ' %}
   {%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{{ page_title }}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
  {% when '' %}
    {%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{{ page_title }}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
  {% when false %}
    {%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{{ page_title }}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
  {% else %}
  {%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{{ secomapp_product | strip_html | strip | strip_newlines | replace: '"', "'"}}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{% endcase %}

{%- elsif template contains "collection" -%}

{% capture secomapp_collection %} {%-if sb_res_check_custom_ids -%}
                                             {{ collection.metafields.seo_booster.sb_title }}
                                         {%-else-%}
                                                             {%comment%}bulk_edit_seo_collection_title{%endcomment%}{{ page_title | strip }}{%comment%}end:bulk_edit_seo_collection_title{%endcomment%}
                                         {%- endif -%}{% endcapture %}
{% case secomapp_collection %}
  {% when ' ' %}
   {%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{{ page_title }}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
  {% when '' %}
    {%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{{ page_title }}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
  {% when false %}
    {%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{{ page_title }}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
  {% else %}
   {%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{{ secomapp_collection | strip_html | strip | strip_newlines | replace: '"', "'"}}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
{% endcase %}

{%- elsif template contains "blog" -%}

{% capture secomapp_blog %}{{ page_title | strip}} {% endcapture %}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{{ secomapp_blog | strip_html | strip | strip_newlines | replace: '"', "'" }}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}

{%- elsif template contains "article" -%}

{% capture secomapp_article %}

   {%-if sb_res_check_custom_ids -%}
          {{ article.metafields.seo_booster.sb_title }}
      {%-else-%}
          {%comment%}bulk_edit_seo_article_title{%endcomment%} {{ page_title | strip }} {%comment%}end:bulk_edit_seo_article_title{%endcomment%}
    {%- endif -%}
 {% endcapture %}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{{ secomapp_article | strip_html | strip | strip_newlines | replace: '"', "'"}}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}

{% else %}
{% capture secomapp_other %}{{ page_title }}{% endcapture %}
{%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>{{ secomapp_other | strip_html | strip | strip_newlines | replace: '"', "'"}}</title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}

{%- endif -%}
